.hero{
position:relative;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
overflow:hidden;
background:#0b0b0b;
color:#c9ced6;
}

/* PARTICLES BACKGROUND */

.particles-wrapper{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:0;
}

/* make particles canvas full screen */

.particles-wrapper canvas{
width:100% !important;
height:100% !important;
display:block;
}

/* HERO CONTENT */

.hero-content{
position:relative;
z-index:2;
max-width:850px;
padding:20px;
}

/* TITLE */

.hero-title{
font-size:56px;
font-weight:700;
margin-bottom:20px;
line-height:1.2;
}

/* CURSOR BLINK */

.cursor{
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1}
50%{opacity:0}
100%{opacity:1}
}

/* TEXT */

.hero-text{
font-size:20px;
color:#cbd5e1;
margin-bottom:30px;
line-height:1.6;
}

/* BUTTON */

.hero-btn{
padding:14px 34px;
font-size:16px;
border:none;
border-radius:6px;
background:linear-gradient(45deg,#00c6ff,#8a2be2);
color:white;
cursor:pointer;
transition:0.3s;
}

.hero-btn:hover{
transform:translateY(-3px);
box-shadow:0 10px 30px rgba(0,198,255,0.4);
}

/* TABLET */

@media(max-width:992px){

.hero-title{
font-size:42px;
color: #fff;
}

.hero-text{
font-size:18px;
}

}

/* MOBILE */

@media(max-width:768px){

.hero{
padding:40px 20px;
}

.hero-title{
font-size:30px;
color: white;
}

.hero-text{
font-size:16px;
}

.hero-btn{
padding:12px 26px;
font-size:14px;
}

}

/* SMALL MOBILE */

@media(max-width:480px){

.hero-title{
font-size:24px;
}

.hero-text{
font-size:14px;
}

}