.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:#111;
color:white;
}

.logo img{
height:60px;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
}

.nav-links a:hover{
color:#00c6ff;
}

.dropdown{
position:relative;
}

.dropdown-menu{
display:none;
position:absolute;
top:30px;
background:#1e1e2f;
padding:10px;
list-style:none;
}

.dropdown:hover .dropdown-menu{
display:block;
}

.menu-toggle{
display:none;
font-size:28px;
cursor:pointer;
}

/* Mobile */

@media(max-width:768px){

.nav-links{
position:fixed;
top:0;
left:-100%;
width:100%;
height:100vh;
background:#0b0b0b;
flex-direction:column;
justify-content:center;
align-items:center;
gap:30px;
transition:0.4s;
}

.nav-links.active{
left:0;
}

.menu-toggle{
display:block;
}

}